.start-page, .quiz-page {
    max-width: 600px;
    color: hsl(231deg 42% 28%);
}

.start-page, .quiz-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-page {
    gap: 2rem;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    margin: 0;
}

.start-quiz-btn, .quiz-btn {
    border: 2px solid hsl(230deg 34% 46%);
    background-color: hsl(230deg 34% 46%);
    color: hsl(220deg 43% 97%);
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.start-quiz-btn {
    min-width: 13rem;
    min-height: 4.5rem;
    padding: .5rem 1rem;
    font-size: 1.9rem;
    border-radius: 15px;
}

.quiz-btn {
    min-width: 8rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

.question {
    font-size: 1.5rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: .75rem;
    border: 0;
    height: 2px;
    background-color: hsl(231deg 41% 90%);
}

.ans-section {
    display: flex;
    gap: 2rem;
}

.ans-btn {
    min-width: 3.8rem;
    min-height: 1.8rem;
    padding: .4rem .6rem;
    border: 1px solid hsl(230deg 34% 46%);
    border-radius: 12px;
    color: hsl(231deg 42% 28%);
    cursor: pointer;
}

.score-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 600px) {
    .ans-section {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    .ans-btn {
        font-size: 1.4rem;
    }
  }
  