* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    margin: 0 auto;
    padding: .5rem 1rem;

}

.social-link {
    display: flex;
    justify-content:right;
    gap: .5rem;
    width: 100%;
    margin-bottom: auto;
}

.social-link a {
    text-decoration: none;
    color: hsl(231deg 42% 28%);
}

footer {
    font-size: .6rem;
    margin-top: auto;
}